@{
    ViewData["Title"] = "Welcome";
}
<div class="container mt-5">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Welcome to the ESign Example Tool!</h4>
        <p>Please use the navigation bar to choose the e-sign service you want to try.</p>
    </div>
</div>